<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Users Activity
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <div id="BotsTotals" lines="none">
      <ion-label *ngIf="botError">{{botError}}</ion-label>
    </div>
    <div id="BotsFrequency" lines="none">
      <ion-label *ngIf="botError">{{botError}}</ion-label>
    </div>
  </ion-item>
  <ion-item id="Influencers" lines="none">
    <ion-label *ngIf="influencerError">{{influencerError}}</ion-label>
  </ion-item>
</ion-content>
